<section class="container mx-auto p-4">
    <div class="about-section flex items-center justify-center my-8">
      <img class=" w-12 h-32 mr-4" src="https://ouch-cdn2.icons8.com/PhCoT87eZXmc1PqNDB-794ndhQl9BUpPhn4wlANRIdE/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMzk1/L2VmYjY2YTlmLWFm/YjgtNGM5YS05NzM2/LTY3YjNhNWNiZTBk/NS5zdmc.png" alt="">
    </div>
        <div>
            <h1 class="heading font-bold leading-tight">
              Baie Dankie, Bosele!
            </h1>

            <p class="text" >
                            High five for learning with our app! 
                            <br>Take a look at the
                            <br> personalized recommendations 
            </p>
          </div>
        

  </section>
  <div class="button">
    <button class="btn btn-continue">
        <div class="continue">View recommendations</div></button>

  </div>
